.kdev4/
*.txt
!CMakeLists.txt
#build*
.kdev_include_paths
*.xmi
*.kdev*
.dir*
*.orig

debug/*
ui_settingsdialog.h
object_script.qimgv.Release
qimgv.pro.user
object_script.qimgv.Debug
Makefile
Makefile.Release
Makefile.Debug
