[Desktop Entry]
Version=1.0
Name=qimgv
GenericName=Image Viewer
Comment=Qt image viewer
Exec=qimgv
Icon=qimgv
Terminal=false
Type=Application
Categories=Graphics;Viewer;
MimeType=video/webm;image/jpeg;image/gif;image/png;image/bmp;
Keywords=image;view;;qimgv;picture;gif;jpeg;webm;
