[Desktop Entry]
Version=1.0
Name=qimgv
GenericName=Image Viewer
Comment=Qt image viewer
Exec=qimgv %f
Icon=qimgv
Terminal=false
Type=Application
Categories=Qt;Graphics;Viewer;
MimeType=video/webm;image/jpeg;image/gif;image/png;image/bmp;image/webp;
Keywords=image;view;qimgv;picture;gif;jpeg;webm;
